.background-color{
   background-color: #FCECEA;
}
#watch{
 background-color: #FFC107;
}
#bag{
background-color: #198754;
}
#shoes{
background-color: #0D6EFD;
}
.category-img{
    width: 100px;
    height: 100px;
}