.background-color{
   background-color: #FCECEA;
}
#watchs{
 background-color: #FFC107;
}
#bags{
background-color: #198754;
}
#shoes{
background-color: #0D6EFD;
}
.category-img{
    width: 100px;
    height: 100px;
}
.form-section{
    width:1296px;
    height: 300px;
}