.background-color{
   background-color: #FCECEA;
}
#watchs{
 background-color: #FFC107;
}
#bags{
background-color: #198754;
}
#shoes{
background-color: #0D6EFD;
}
.category-img{
    width: 100px;
    height: 100px;
}
.form-section{
    width:100%;
    height: 300px;
}
.button{
background-image: linear-gradient(to bottom, #FF589B 0%, #ff4b92 100%);
color: white;
border-radius: 8px;
padding: 9px 25px;
border: none;
}